/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --intermediate-row: 33;
  --total-rows: 70;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1.68fr;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(21, 21, 21); */
    background-color: rgb(28, 28, 30);
    background-color: rgb(255, 255, 255);
    background-color: rgb(62, 66, 75);
    background-color: rgb(6, 6, 7);
    

    /* background-image: url(img/page_bg.jpg); */
    /* color: #7A7C80; */
    --xsmall-font: 0.7rem;

}

h2, h3,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    text-align: center;
    height: 100vh;    
    /* position: fixed; */
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 0.9rem;
    padding: 10px;
}
.fab{
    font-size: 2.0rem;
    padding: 10px;
}

.social-media {
    padding-bottom: 10%;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    overflow-y: auto;
    height: 90vh;
    /* margin-right: 15%; */
    margin-left: 5%;
    width: 90%;
}

.section-2 h2{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.section-2 h2::after {
    content: ""; /* insert an empty content */
    display: block; /* make the pseudo-element a block element */
    margin: 0 auto;
    margin-top: 10px; /* add some space between the text and the line */
    border-top: 1px solid #7A7C80; /* add a border at the top */
    width: 75%;
  }
  
.section-2 h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: #ddd;
}
.section-2 #projects p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: #aaa;
}
.double-grid {
  display: grid;
  gap: 0.9em;
  gap: 2.5em;
  /* column-gap: 0; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;

  width: calc(100% - 60px);
  margin-left: 20px;
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

 /* left side vertical flexbox */

 .section-1.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 10%;
    /* margin-right: 15%; */
    background-color: rgb(6, 6, 7);
    
    /* --aug-br-inset2: 30%; */
    /* --aug-br-inset1: 20%; */

    /* --aug-inlay-bg: rgb(6, 6, 7); */

    --aug-br-inset2: 50%;
    --aug-br1-width:  2vw;
    --aug-br1-height: 7vh;
    --aug-br: 5%;

    --aug-inlay-all: 0px;
    /* --aug-inlay-right: 10px; */
    --aug-inlay-bg: rgb(6, 6, 7);
    /* background: #fcee0a; */
    /* --aug-inlay-opacity: 0.9999; */
    /* background-color: rgb(6, 6, 7); */
    
    /* --aug-inlay-color: #fcee0a; */
    
    --aug-border-all: 0px;
    --aug-border-right: 10px;
    --aug-border-bg: #fcee0a;
    /* --aug-inlay-color: #fcee0a; */
    

    
  }
  
  .section-1.flex-column .top {
    padding-top: 10%;
    order: 1;
  }
  
  nav {
    order: 2;
  }
  
  .social-media {
    order: 3;
  }  


/* navbar */
nav {
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 120px);
    /* margin-left: 2vw; */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #7A7C80;
  }
  
  nav a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
.hidden {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav, nav ul {
    display: flex;
    flex-direction: column;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li, nav ul li small {
    align-items: center;
    display: flex;
}
nav ul li {
    color: #777778;
    cursor: pointer;
    margin: 0.6rem 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ul li small {
    font-size: var(--xsmall-font);
    margin: 0;
}

nav ul li small a {
    align-items: center;
    color: inherit;
    display: flex;
    letter-spacing: 2px;
    text-decoration: none;
}

nav ul li a .menu_bullet {
    background-color: #777778;
    height: 1px;
    margin: 0 1rem;
    max-width: 2.5rem;
    pointer-events: none;
    transition: all .2s linear;
    width: 2.5rem;
}

nav ul li.selected {
    color: #fff;
    opacity: 1;
    transition: all .2s linear;
}

nav ul li.selected a .menu_bullet {
    background-color: #fff;
    max-width: 4rem;
    transition: all .2s linear;
    width: 4rem;
}

/* project items */

li::marker {
  display: none;
}

.item {
    display: grid;
    grid-template-columns: repeat(var(--total-rows), 1fr);
    grid-gap: 10px; 
    align-items: center;
    /* background-color: #1d1d1f; */
    margin: 30px;
    background-color: #fcee0a;
    --aug-bl1: 50px;
    --aug-tr1: 50px;
    --aug-br1: 50px;
    --aug-tl1: 50px;

    transition: transform 0.15s linear;
  }
  
  /* @media(max-width:780px){
    .item {
      grid-template-columns: 1fr; 
    }
  } */

  /* .item:nth-of-type(even) img {
    grid-column: 1 / 8;
  }
  .item:nth-of-type(even) div {
    grid-column: 7 / -1;
  } */
   /* #projects > ul > a > li.item:nth-of-type(1) {
     background-color: red;
    } */
  
  .item img {
    width: 100%;
    grid-area: 1 / calc(var(--intermediate-row) - 1) / -1 / -4;
    padding: 8%;
    padding-left: 0;
  }
  
  .item div {
    grid-area: 1 / 3 / -1 / calc(var(--intermediate-row) + 1);
    padding: 10%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    background-image: url(img/bg3.svg);
    /* background-image: url(img/Untitled\ \(6\).svg); */
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item div h3 {
    padding-bottom: 3%;
  }
  .item div p{
    padding-bottom: 0 !important;
    /* margin: 0; */
    /* padding-left: 5%;
    padding-right: 5%; */
  }
  /* .item div h3::before{
    content: url(img/top-line.svg);
    display: block;
    overflow: hidden;
  } */
  
  .item h3 {
    margin: 0;
  }
  
.item-mirror img {
  grid-area: 1 / 1 / -1 / calc(calc(var(--total-rows) - var(--intermediate-row)) + 1);
  padding: 8%;
  padding-left: 8%;
}
.item-mirror div {
  grid-area: 1 / calc(calc(var(--total-rows) - var(--intermediate-row)) - 1) / -1 / -2;
  background-position: top right;
  padding-left: 3%;
  padding-right: 10%;
}

.item-grid {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  background-color: #fcee0a;
  /* background-color: rgb(6, 6, 7); */
  transition: transform 0.15s linear;

  /* border: 1px solid white; */

  /* display: grid; */
  /* grid-template-rows: 1fr 2fr; */
  /* grid-template-columns: 1fr; */
  /* grid-auto-flow: row dense; */

  /* --aug-bl1: 50px;
  --aug-tr1: 30px;
  --aug-br1: 30px;
  --aug-tl1: 30px;
  */
  
   /* data-augmented-ui="tl-clip-x tr-clip-x b-clip-x" */
  /* --aug-tl: 6%;
  --aug-tr: 6%;
  --aug-tl-inset1: 20%;
  --aug-tr-inset2: 20%;
  --aug-b-extend1: 50%;
  --aug-b2: 5%;
  --aug-b1: 5%; */
   
   
   /* data-augmented-ui="tr-clip-y br-clip-y l-clip-y" */
   /* --aug-l-extend1: 50%;
   --aug-l2: 7%;
   --aug-l1: 7%;
   
   --aug-tr-inset1: 20%;
   --aug-br-inset2: 20%;
   --aug-tr: 7%;
   --aug-br: 7%; */
  
   
   /* data-augmented-ui="tr-clip bl-clip br-clip-y" */
   /* --aug-bl : 50px;
   
   --aug-tr : 30px;
   --aug-tr-inset1: 0px;
   --aug-br-inset2: 40%;
   
   --aug-br1-width:  20px;
   --aug-br1-height: 20px; */
   
   --aug-border-all: 5px;
   --aug-border-bg: #fbe806;
   --aug-inlay-all: 10px;
   --aug-inlay-bg: #fbe806;

   background: linear-gradient(#ff003c, #00f0ff);
   background: rgb(6, 6, 7);
   /* background: #00f0ff; */
   
   --aug-bl : 0px;
   
   --aug-tr : 0px;
   --aug-tr-inset1: 0px;
   --aug-br-inset2: 0px;
   
   --aug-br1-width:  0px;
   --aug-br1-height: 0px;
   
  }
  .item-grid img {
    /* margin: auto; */
    width: 75%;
    height: 100%;
    height: 150px;
    padding-bottom: 0;
    padding-top: 20%;
  }
  .item-grid h3 {
    
  }
  .item-grid div {
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2%;
  }
  
.item:hover{
  /* transform: scale(1.05); */
  background-color: white;
}
.item-grid:hover {
  /* --aug-bl : 45px; */
   
  --aug-tr : 30px;
  /* --aug-tr-inset1: 0px;
  --aug-br-inset2: 40%;
  
  --aug-br1-width:  20px;
  --aug-br1-height: 20px; */
}
/* scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
    /* height: 10px;
    background-color: #222; */
  }
  
  /* ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #444;
  } */
  

  /* data-augmented-ui="tl-clip t-clip-x br-scoop-x bl-2-clip-x border" */
.item-border {
  /* background-color: #fcee0a;
  --aug-border-all: 9px;
  /* --aug-border-bg: black; */

  
  --aug-t-extend1: 60%;
  --aug-b-extend1: 60%;
  --aug-l-extend1: 45%;
  --aug-r-extend1: 45%;
  
  /* --aug-t-inset1: 10px; */
  /* --aug-b-inset1: 10px; */
  /* --aug-l-inset1: 10px; */
  /* --aug-r-inset1: 10px; */

  /* corners radius */
  --aug-tr1: 60px;
  --aug-br1: 60px;
  --aug-tl1: 60px;
  --aug-bl1: 60px;
}


.skills-item{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  aspect-ratio: 3/2;

  background-color: #00f0ff;
  background-color: #31C5D5;
  /* background-color: #002A30; */

  --aug-border-all: 8px;
  --aug-border-bg: #002A30;
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #00f0ff;
  /* --aug-inlay-bg: #ff003c; */

    /* background: linear-gradient(#ff003c, #00f0ff); */
    background: rgb(6, 6, 7);
    background: #31d4ed;
  --aug-inlay-opacity: 1;

  --aug-l-extend1: 50%;
  --aug-l2: 5%;
  --aug-l1: 5%;
  /* --aug-l-center: calc(50% - 10px); */
  
  --aug-b-extend1: 30%;
  --aug-b2: 7%;
  --aug-b1: 7%;
  
  --aug-bl1: 20px;
  --aug-br1: 20px;
  --aug-l-offset: calc(var(--aug-bl1) / 2);

  --aug-tr: 8%;
  --aug-tr-inset2: 22%;
}
  .skills-item img {
    margin: auto;
    /* width: 60%; */
    padding: 10%;
    height: 60%;
    /* height: 150px; */
    /* padding-bottom: 0;
    padding-top: 20%; */
  }
  .skills-item h3 {
    
  }
  .skills-item div {
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2%;
  }