/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --intermediate-row: 33;
  --total-rows: 70;
  
  --black: rgb(6, 6, 7);
  --yellow: rgb(254, 221, 0);
  --blue: #00f0ff;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1.68fr;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(21, 21, 21); */
    background-color: rgb(28, 28, 30);
    background-color: rgb(255, 255, 255);
    background-color: rgb(62, 66, 75);
    background-color: var(--black);
    

    /* background-image: url(img/page_bg.jpg); */
    /* color: #7A7C80; */
    --xsmall-font: 0.7rem;

}

h2, h3,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    text-align: center;
    height: 100vh;    
    /* position: fixed; */
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 0.9rem;
    padding: 10px;
}
.fab{
    font-size: 2.0rem;
    padding: 10px;
}

.social-media {
    padding-bottom: 10%;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    overflow-y: auto;
    height: 90vh;
    /* margin-right: 15%; */
    margin-left: 5%;
    width: 90%;
}

.section-2 h2{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.section-2 h2::after {
    content: ""; /* insert an empty content */
    display: block; /* make the pseudo-element a block element */
    margin: 0 auto;
    margin-top: 10px; /* add some space between the text and the line */
    border-top: 1px solid #7A7C80; /* add a border at the top */
    width: 75%;
  }
  
.section-2 h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: #ddd;
}
.section-2 #projects p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: #aaa;
}

.skills-grid-container {
  height: 80vh;
  position: relative;
}
.skills-grid-background {
  position: absolute;
  z-index: -1;
  
  height: 100%;
  width: 70%;
  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0.4;
  background-image: url(img/circut_small.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;  
}

.skills-grid {
  position: relative;
  display: grid;
  gap: 0.9em;
  gap: 2.5em;
  /* column-gap: 0; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;

  padding-top: 40%;
}

.double-grid {
  position: relative;
  display: grid;
  gap: 0.9em;
  gap: 2.5em;
  /* column-gap: 0; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: min-content;
  gap: 0;
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

 /* left side vertical flexbox */

 .section-1.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 10%;
    /* margin-right: 15%; */
    background-color: var(--black);
    
    /* --aug-br-inset2: 30%; */
    /* --aug-br-inset1: 20%; */

    /* --aug-inlay-bg: var(--black); */

    --aug-br-inset2: 50%;
    --aug-br1-width:  2vw;
    --aug-br1-width:  25px;
    --aug-br1-height: 7vh;
    --aug-br: 5%;

    --aug-inlay-all: 0px;
    /* --aug-inlay-right: 10px; */
    --aug-inlay-bg: var(--black);
    /* background: #fcee0a; */
    /* --aug-inlay-opacity: 0.9999; */
    /* background-color: var(--black); */
    
    /* --aug-inlay-color: #fcee0a; */
    
    --aug-border-all: 0px;
    --aug-border-right: 10px;
    --aug-border-bg: var(--yellow);
    /* --aug-inlay-color: #fcee0a; */
    

    
  }
  .section-split {
    width: 3vh;
    height: 100vh;

    --aug-br-inset2: 50%;
    --aug-br1-width:  2vw;
    --aug-br1-width:  20px;
    --aug-br1-height: 7vh;
    --aug-br: 5%;

    --aug-inlay-all: 0px;
    --aug-inlay-bg: var(--black);
    
    --aug-border-all: 0px;
    --aug-border-right: 10px;
    --aug-border-bg: #fcee0a;
  }
  
  .section-1.flex-column .top {
    padding-top: 10%;
    order: 1;
  }
  
  nav {
    order: 2;
  }
  
  .social-media {
    order: 3;
  }  


/* navbar */
nav {
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 120px);
    /* margin-left: 2vw; */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #7A7C80;
  }
  
  nav a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
.hidden {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav, nav ul {
    display: flex;
    flex-direction: column;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li, nav ul li small {
    align-items: center;
    display: flex;
}
nav ul li {
    color: #777778;
    cursor: pointer;
    margin: 0.6rem 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ul li small {
    font-size: var(--xsmall-font);
    margin: 0;
}

nav ul li small a {
    align-items: center;
    color: inherit;
    display: flex;
    letter-spacing: 2px;
    text-decoration: none;
}

nav ul li a .menu_bullet {
    background-color: #777778;
    height: 1px;
    margin: 0 1rem;
    max-width: 2.5rem;
    pointer-events: none;
    transition: all .2s linear;
    width: 2.5rem;
}

nav ul li.selected {
    color: #fff;
    opacity: 1;
    transition: all .2s linear;
}

nav ul li.selected a .menu_bullet {
    background-color: #fff;
    max-width: 4rem;
    transition: all .2s linear;
    width: 4rem;
}

/* project items */

li::marker {
  display: none;
}

.item {
    display: grid;
    grid-template-columns: repeat(var(--total-rows), 1fr);
    grid-gap: 10px; 
    align-items: center;
    /* background-color: #1d1d1f; */
    margin: 30px;
    margin-left: 3%;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #fcee0a; */
    --aug-bl1: 50px;
    --aug-tr1: 50px;
    --aug-br1: 50px;
    --aug-tl1: 50px;
    
    
    /* background-color: white; */
    --aug-border-bg: white;
    --aug-inlay-bg: white;
    --aug-border-all: 18px;
    --aug-inlay-all: 3px;
    --aug-inlay-left: 20px;
    --aug-inlay-opacity: 1;
    background: none;

    transition: transform 0.15s linear;
  }
  
  /* @media(max-width:780px){
    .item {
      grid-template-columns: 1fr; 
    }
  } */

  /* .item:nth-of-type(even) img {
    grid-column: 1 / 8;
  }
  .item:nth-of-type(even) div {
    grid-column: 7 / -1;
  } */
   /* #projects > ul > a > li.item:nth-of-type(1) {
     background-color: red;
    } */
  
  .item img {
    width: 100%;
    grid-area: 1 / calc(var(--intermediate-row) - 1) / -1 / -4;
    padding: 8%;
    padding-left: 0;
  }
  
  .item-description {
    grid-area: 1 / 5 / -1 / calc(var(--intermediate-row) + 1);
    padding: 10%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    background-image: url(img/bg3.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item-bg {
    grid-area: 1 / 5 / -1 / calc(var(--intermediate-row) + 1);
    /* background-color: #fcee0a; */
    background: linear-gradient(0.25turn, var(--black), #fcee0a 45%, #fcee0a 55%,  var(--black));
    background: linear-gradient(0.25turn, var(--black), var(--yellow) 45%, var(--yellow) 55%,  var(--black));
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 120%;
    justify-self: center;
    z-index: -1;

    transition-duration: 0.4s;
  }


  .item-description h3 {
    padding-bottom: 3%;
  }
  .item-description p{
    padding-bottom: 0 !important;
    /* margin: 0; */
    /* padding-left: 5%;
    padding-right: 5%; */
  }
  /* .item-description h3::before{
    content: url(img/top-line.svg);
    display: block;
    overflow: hidden;
  } */
  
  .item h3 {
    margin: 0;
  }
  
.item-mirror {
  /* margin-right: 5%;
  margin-left: 0; */
  --aug-inlay-right: 20px; 
  --aug-inlay-left: 3px;
  --aug-r-extend1: 30%;
}

  .item-mirror img {
    grid-area: 1 / 1 / -1 / calc(calc(var(--total-rows) - var(--intermediate-row)) + 1);
    padding: 8%;
    padding-left: 8%;
  }
  .item-mirror div {
    grid-area: 1 / calc(calc(var(--total-rows) - var(--intermediate-row)) - 1) / -1 / -4;
    background-position: top right;
    padding-left: 3%;
    padding-right: 10%;
  }
  .item-mirror .item-bg {
    grid-area: 1 / calc(calc(var(--total-rows) - var(--intermediate-row)) - 1) / -1 / -4; 
  }

.projects-grid-container {
  position: relative;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;    
  
}


.projects-grid {
  position: relative;
  display: grid;
  /* row-gap: 0;
  column-gap: 2em; */
  gap: 2em;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: min-content;
  margin-right: 0.5fr;
}

.item-grid {
  margin: 0;
  display: grid;
   
  grid-template-rows: 3fr 1fr 2fr;
  grid-gap: 10px;
  height: 100%;

  background: linear-gradient(90deg, var(--black) 30%, var(--yellow), var(--black) 60%);
   

   /* align-items: center; */
}
  .item-grid img {
    /* margin: auto; */
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;
    height: 180px;
    /* width: 70%; */
    padding: 0;
    margin-left: 40%;

    grid-row: 1 / 3;
    grid-column: 1 / -1;
    z-index: 1;
    justify-self: start;
    

    filter: grayscale(100%);
  }
  .item-grid div {
    margin: 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.9, 0.7, 0.3);
    transition-timing-function: ease-out;
    
    grid-column: 1 / -1;
    height: 100%;
    width: 50%;
    /* aspect-ratio: 2/1; */
    justify-self: start;
    
    grid-row: 2 / -1;
    /* height: 40%; */
    align-self: end;

    --aug-tl1: 30px;
    --aug-border-bg: white;
    --aug-border-all: 2px;
    
    background-color: var(--black);    
  }
  .item-grid div h3 {
    margin: 10%;
    margin-top: calc(10% + 10px);
  }
  
.item:hover .item-bg{
  /* transform: scale(1.05); */
  background: linear-gradient(0.25turn, var(--black), #fcee0a 15%, #fcee0a 75%,  var(--black));
  background: linear-gradient(0.25turn, var(--black), var(--yellow) 15%, var(--yellow) 75%,  var(--black));
  width: 150%;
  /* background-color: white; */
  --aug-border-all: 10px;
  --aug-border-left: 18px;
}
.item-grid:hover div {
  /* transition: all 1s ease-out; */
  /* grid-row: 5 / -1; */
  z-index: 1;
  /* height: 100%; */
  /* --aug-bl : 45px; */
   
  /* --aug-tr : 30px; */
  /* --aug-tr-inset1: 0px;
  --aug-br-inset2: 40%;
  
  --aug-br1-width:  20px;
  --aug-br1-height: 20px; */
}
/* scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
    /* height: 10px;
    background-color: #222; */
  }
  
  /* ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #444;
  } */
  

  /* data-augmented-ui="tl-clip t-clip-x br-scoop-x bl-2-clip-x border" */
.item-border {
  /* background-color: #fcee0a;
  --aug-border-all: 9px;
  /* --aug-border-bg: black; */

  
  /* --aug-t-extend1: 60%;
  --aug-b-extend1: 60%;
  --aug-l-extend1: 45%;
  --aug-r-extend1: 45%; */
  
  /* --aug-t-inset1: 10px; */
  /* --aug-b-inset1: 10px; */
  /* --aug-l-inset1: 10px; */
  /* --aug-r-inset1: 10px; */

  /* corners radius */
  /* --aug-tr1: 60px;
  --aug-br1: 60px;
  --aug-tl1: 60px;
  --aug-bl1: 60px; */
}
.skills-item{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  aspect-ratio: 3/2;

  background-color: #00f0ff;
  background-color: #31C5D5;
  /* background-color: #002A30; */

  --aug-border-all: 8px;
  --aug-border-bg: #002A30;
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #00f0ff;
  /* --aug-inlay-bg: #ff003c; */

    /* background: linear-gradient(#ff003c, #00f0ff); */
    background: var(--black);
    background: #31d4ed;
    background: linear-gradient(135deg, #86eaf9, #11dfff);
    /* background: rgba(6, 6, 7, 0.9); */
    background: radial-gradient(var(--blue) 5%, var(--black));
  --aug-inlay-opacity: 1;

  --aug-l-extend1: 50%;
  --aug-l2: 5%;
  --aug-l1: 5%;
  /* --aug-l-center: calc(50% - 10px); */
  
  --aug-b-extend1: 30%;
  --aug-b2: 7%;
  --aug-b1: 7%;
  
  --aug-bl1: 20px;
  --aug-br1: 20px;
  --aug-l-offset: calc(var(--aug-bl1) / 2);

  --aug-tr: 8%;
  --aug-tr-inset2: 22%;

  /* background: none; */
  /* background-color: #00FF00; */
  /* -webkit-box-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00; */
  /* box-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00; */
  opacity: 0.7;
  filter: drop-shadow(0 0 10% #00f0ff) drop-shadow(0 0 10% #00f0ff);

  --aug-border: initial;
  --aug-border-bg: var(--blue);
  --aug-border-all: 30px;
  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: var(--blue);
  --aug-inlay-opacity: 0.125;

}

  .skills-item-neon {
    /* position: absolute;
    left: 0px; */
    /* bottom: 22.29%; */
    /* height: 68.75%;
    width: 48.55%; */

    align-self: center;
    justify-self: center;
    z-index: 1;

    --almaz-width: min(400px, 90vh * 2.1416667); /* change this to scale the whole logo */
    width: var(--almaz-width);
    height: calc(var(--almaz-width) / 2.1416667);
    
    --almaz-color: #2acefb;
    --almaz-glow-size: calc(var(--almaz-width) * 0.048638132);
    /* --almaz-glow-size: calc(var(--almaz-width) * 0.3); */
    
    filter: drop-shadow(0 0 var(--almaz-glow-size) #2acefb) drop-shadow(0 0 var(--almaz-glow-size) #2acefb);
    
    margin: 10%;
    
    --aug-l-extend1: 50%;
    --aug-l2: 5%;
    --aug-l1: 5%;    
    --aug-b-extend1: 30%;
    --aug-b2: 7%;
    --aug-b1: 7%;
    --aug-bl1: 20px;
    --aug-br1: 20px;
    --aug-l-offset: calc(var(--aug-bl1) / 2);
    --aug-tr: 8%;
    --aug-tr-inset2: 22%;

    --aug-border: initial;
    --aug-border-bg: var(--almaz-color);
    --aug-border-all: calc(var(--almaz-width) / 400);
    --aug-inlay: initial;
    --aug-inlay-all: 0px;
    --aug-inlay-bg: var(--almaz-color);
    --aug-inlay-opacity: 0.125;
  }
  .almaz {
    /* position: relative;
    display: block; */
    /* --almaz-width: 1028px; */
    /* --almaz-hover-animation: 4s; */
    
    
    --almaz-width: min(60vw, 90vh * 2.1416667); /* change this to scale the whole logo */
    /* --almaz-width: 100%; change this to scale the whole logo */
    width: var(--almaz-width);
    height: calc(var(--almaz-width) / 2.1416667);
    
    --almaz-color: #2acefb;
    --almaz-glow-size: calc(var(--almaz-width) * 0.048638132);
    
    filter: drop-shadow(0 0 var(--almaz-glow-size) #2acefb) drop-shadow(0 0 var(--almaz-glow-size) #2acefb);
    /* --almaz-extend: calc(var(--almaz-width) * 0.0428015564); */
    /* --almaz-clip: calc(var(--almaz-width) * 0.0223735409); */
  }


  .skills-item img {
    margin: auto;
    /* width: 60%; */
    padding: 10%;
    height: 60%;
    /* height: 150px; */
    /* padding-bottom: 0;
    padding-top: 20%; */
  }
  .skills-item:hover img{
    display: none;
    /* opacity: 0.2;
    z-index: -1; */
  }
  .skills-item h3 {
    display: none;
  }
  .skills-item div {
    display: none;
  }
  .skills-item:hover h3{
    display: block;
    
  }
  .skills-item:hover div {
    display: block;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2%;
  }

  .aboutme-description-container {
    position: relative;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;    
  }

  .text-border {    
    background: #eeeeee;
    --aug-border-all: 1px;
    --aug-border-opacity: 0.5;
    padding: 0.5rem;
    padding-bottom: 1.75rem;
    /* padding-top: 1.75rem; */
    --aug-tr: 1.5rem;
    --aug-br: 1.5rem;
    --aug-bl: 1.5rem;
    --aug-br-inset1: 4rem;
  }

  .border-clip {
    background: #eeeeee;
    border: none;
    --aug-border-all: 1px;
    --aug-border-opacity: 0.5;

    position: absolute;
    bottom: 0px;
    right: 2.5rem;
    height: 1.25rem;
    width: 2rem;
  }
  .border-clip + .border-clip {
    right: 0.5rem;
  }

  .text-border div {
    --aug-tr: 1rem;
    word-break: break-all;
    
    padding: 3%;
    margin-bottom: 0.5rem;
    
    background-color: var(--black);
  }